__pycache__/__init__.cpython-37.pyc
models/__pycache__/__init__.cpython-37.pyc
models/__pycache__/todo_list_enrique.cpython-37.pyc
models/__pycache__/todo_list_enrique.cpython-37.pyc
models/__pycache__/todo_list_enrique.cpython-37.pyc
models/__pycache__/todo_list_enrique.cpython-37.pyc
